<footer class="main-footer">
  <div class="pull-right hidden-xs">
    <i class='fa fa-building-o fa-2x pull-right'></i>
  </div>
  <strong>LuzDeLima Sistemas</strong>
  <%= link_to "&copy;".html_safe, new_user_session_path %>
  <%= Date.today.year %>
</footer>
